
html{
    scroll-behavior: smooth;
}

body{
  background-color: #EABEB0;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Optima";
  color: #385526;
}

h1{
  font-size: 40px;
  line-height: 1;
  padding: 40px 0;
  text-align: center;
  color: #385526;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

#logo {
    font-size: 40px;
    line-height: 1;
    padding: 40px 0;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-bottom: 1px solid #EABEB0;
    background-color: #385526;
    color: #EABEB0;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

nav li{
  color: #EABEB0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#current {
  color: #385526;
  background: #EABEB0;
}

nav{
  background-color: #385526;
  text-align: left;
}

nav a{
  color: #EABEB0;
  font-weight: bold;
  text-decoration: none;

}


p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  text-align: center;

}

/* footer{
  display: block;
  vertical-align: middle;
  background-color: #385526;
  color: #EABEB0;
  margin-top: 60px;
} */

header {
  background-image: url("../images/spring_narrow.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}


footer{
  background-color: #385526;
  color: #EABEB0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

footer p {
  font-size: 18px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


#arrived {
  padding-bottom: 15px;
  color: white;
  font-size: 25px;
  padding: 0 50px;
  text-align: center;
  color: #385526;
}

button {
  background-color: #385526;
  color: #EABEB0;
  font-family: "Optima";
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;

}

a:link {
  color: #EABEB0;
  text-decoration: none;
}

a:visited {
  color: #EABEB0;
  text-decoration: none;
}

/* header p{
  color: white;
  font-size: 25px;
  padding: 0 50px;
  text-align: center;
  color: #385526;
} */

img {
  width: 320px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover, a:focus {
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
  color: #385526;
}

.skip a:focus {
  position: absolute;
  top: 10px;
}

*:focus{
  border: 1px solid #385526;
}

#hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 375px; */
  width: 100%;
  height: auto;
}

/* Subscriptions */

.cost {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* Flipcard */

.flipcard {
  width: 250px;
  height: 300px;
  perspective: 1000px;
  margin-top: 15px;
}

.flipcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner {
  transform: rotateY(180deg);
}

.flipcard:focus-within .flipcard-inner {
  transform: rotateY(180deg);
}

.flipcard-front, .flipcard-back {
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
}

.flipcard-front {
  width: 250px;
  height: 300px;
  background-color: #385526;
  color: white;
}

.flipcard-front p {
  padding: 125px 0px;
}

.flipcard-back {
  width: 240px;
  height: 295px;
  background-color: white;
  transform: rotateY(180deg);
  border: 5px solid #385526;
}

.flipcard-back p {
  padding-top: 5px;
  font-size: 20px;
}

.flipcard-back h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}


/* Exhibit */

.exhibit {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* .exhibit > img:first-child {
  margin: 10px;
  filter: grayscale(1);
  transform: rotate(-0.05turn)
} */

.exhibit > img:nth-child(odd) {
  margin: 10px;
  filter: grayscale(1);
  transform: rotate(-0.05turn)
}

.exhibit > img:nth-child(even) {
  margin: 10px;
  filter: grayscale(1);
  transform: rotate(0.05turn)
}

/* Animation */

#spring{
 animation-name: expand;
 animation-duration: 4s;
}

@-webkit-keyframes expand{
 0% {
   opacity: 0;
   font-size: 10px;
 }

 100% {
   opacity: 1;
   font-size: 40px;
 }
}

@keyframes expand{
 from { font-size: 10px;}
 to {font-size: 40px}
}

/* Tablet Media Query */


@media all and (min-width: 760px){
  
  img {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .exhibit {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .exhibit > img {
    height: 330px;
    width: auto;
  }
  
  .exhibit > img:nth-child(odd) {
    margin: 10px;
    filter: grayscale(1);
    transform: rotate(-0.05turn)
  }
  
  .exhibit > img:nth-child(even) {
    margin: 10px;
    filter: grayscale(1);
    transform: rotate(0.05turn)
  }


}

/* Desktop Media Query */

@media all and (min-width: 990px){

  img {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* Desktop Exhibit */

  .exhibit {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .exhibit > img {
    height: 330px;
    width: auto;
  }
  
  .exhibit > img:nth-child(odd) {
    margin: 10px;
    filter: grayscale(1);
    transform: rotate(-0.05turn)
  }
  
  .exhibit > img:nth-child(even) {
    margin: 10px;
    filter: grayscale(1);
    transform: rotate(0.05turn)
  }


}

/* Reduced Motion */

@media screen and (prefers-reduced-motion: reduce) {

  #spring {
    animation-name: none;
  }

  .flipcard-inner {
    transform-style: preserve-3d;
    transition: none;
  }

  .flipcard-front, .flipcard-back {
    backface-visibility: hidden;
  }
  
  .flipcard:hover .flipcard-inner {
    transform: rotateY(180deg);
  }
  
  .flipcard:focus-within .flipcard-inner {
    transform: rotateY(180deg);
  } 

  .skip a{
    -webkit-transition: none;
    transition: none;
  }

  }