
html{
    scroll-behavior: smooth;
}

body{
  background-color: #EABEB0;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Optima";
  color: #385526;
}

#logo {
    font-size: 40px;
    line-height: 1;
    padding: 40px 0;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-bottom: 1px solid #EABEB0;
    background-color: #385526;
    color: #EABEB0;
}

h1{
  font-size: 40px;
  line-height: 1;
  padding: 40px 0;
  text-align: center;
  color: #385526;
}

h2{
  font-size: 32px;
  line-height: 1.5;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

nav li{
  color: #EABEB0;
  display:block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EABEB0;
  
}

nav{
  background-color: #385526;
  text-align: left;
}

nav a{
  color: #EABEB0;
  font-weight: bold;
  text-decoration: none;

}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;

}

/* footer{
  display: block;
  vertical-align: middle;
  background-color: #385526;
  color: #EABEB0;
  margin-top: 60px;
} */

footer{
  background-color: #385526;
  color: #EABEB0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

footer p {
  font-size: 18px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}


#arrived {
  padding-bottom: 15px;
}

button {
  background-color: #385526;
  color: #EABEB0;
  font-family: "Optima";
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;

}

a:link {
  color: #EABEB0;
  text-decoration: none;
}

a:visited {
  color: #EABEB0;
  text-decoration: none;
}

header p{
  color: white;
  font-size: 25px;
  padding: 0 50px;
  text-align: center;
  color: #385526;
}

img {
  width: 320px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover, a:focus {
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
}

.skip a:focus {
  position: absolute;
  top: 10px;
}

*:focus{
  border: 1px solid #385526;
}

#hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: auto;
}

#current {
  color: white;
}

.cost {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Subscriptions */

.plan {
margin: 12px;
background: #fff;
display: flex;
flex-direction: column;
flex-basis: 400px;
justify-content: center;

}

.plan ul{
  margin-top: 15px;
}

.plan li:first-child{
  font-weight: bold;
  margin-bottom: 10px;
}

.plan li{
  text-align: center;
}

.plan > header {
background-color: #385526;
color: #EABEB0;
border: 2px solid #2c441e;
padding: 20px 0;
text-align: center;
}

/* Exhibit */

.exhibit {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* .exhibit > img:first-child {
  margin: 10px;
  filter: grayscale(1);
  transform: rotate(-0.05turn)
} */

.exhibit > img:nth-child(odd) {
  margin: 10px;
  filter: grayscale(1);
  transform: rotate(-0.05turn)
}

.exhibit > img:nth-child(even) {
  margin: 10px;
  filter: grayscale(1);
  transform: rotate(0.05turn)
}
